
body {
  font-family: 'Inter', sans-serif;
  background-color: #fff8f8; /* Alb roz foarte deschis */
  margin: 0;
  padding: 0;
  color: #333; 
}

.App {
  text-align: center;
}


a {
  color: #800020;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* style for buttons*/
button {
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

button:hover {
  background-color: #e0e0e0;
}
